@import url(outfit.css);
@import url(satoshi.css);

/* diagnostic styling 
* {
    outline: 1px dotted gray;
}
*/
/* layout */
body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* scene */
.scene {
    width: 300px;
    height: 400px;
    /* space between card-scenes */
    margin: 16px;

    /* set perspective   */
    perspective: 600px;
    
}

/* card */
.card {
    display: flex;
    align-content:center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
    cursor: grab;
    transition: transform 1s;

    /* preserve child 3d   */
    transform-style: preserve-3d;
    border-radius: 20% 20% 20% 20%;
}

/* face */
.face {
    display: flex;
    align-content:center;
    justify-content: center;
    flex-wrap:wrap;
    flex-direction:column;
    line-break:loose;
    
    position: absolute;
    height: 100%;
    width: 100%;
   
    /* hide back face   */
    backface-visibility: hidden;
}

img {
    display:flex;
    margin:auto;
    align-content: center;
    max-width: 90%;
    max-height: 90%;

}

.title{
    text-align:center;
   max-width: 80%;
    font-family: 'Outfit-Regular';
    color: #ECF7DD;



}

.front {
    text-align:center;
    background: #5792CF;
    border-radius: 5% 5% 5% 5%;
filter: drop-shadow( 0em .5em 0em #0D56D9 );
}

.description {
    max-width:80%;
    font-family:'Satoshi-Light';
    line-break: loose;

}

.back {
  
    background:#dcf8ff;
    /* flip it default   */
    transform: rotateY(180deg);
    border-radius: 5% 5% 5% 5%;
 
}

/* flip card
  * toggle with JS
  */
.flipped {
    transform: rotateY(180deg);
}



/* Media Query for Mobile */
@media only screen and (max-width: 56em){ 
    
    /* Diagnostic Styling. Delete When Done. 
    body:before {
         background: yellow;
         content: "Mobile Size";
    }*/

    body {
        display: flex;
        flex-direction: column;
    }

    p { 
        font-size: small;

        }

    h2{
        font-size: large;

    }
    .scene {
        width: 70%;
        height: 200%;
        /* space between card-scenes */
        margin: 5%;
    
        /* set perspective   */
        perspective: 600px;
    }
    
    /* card */
    .card {
        width: 95%;
        height: 120%;
        position: relative;
    
        cursor: grab;
        transition: transform 1s;
    
        /* preserve child 3d   */
        transform-style: preserve-3d;
        border-radius: 20% 20% 20% 20%;
    }
    
    /* face */
    .face {
        position: absolute;
        height: 100%;
        width: 90%;
       
        /* hide back face   */
        backface-visibility: hidden;
    }
    
    img {
        display:flex;
        margin:auto;
        align-content: center;
        max-width: 40%;
        max-height: 40%;
    
    }
.title {
    font-family: 'Satoshi-Regular';
}

    
    .front {
        text-align:center;
        background: #5792CF;
        border-radius: 5% 5% 5% 5%;
        filter: drop-shadow(0rem .25rem 0rem #0D56D9);
    }
    
    .description {
        font-family:'Satoshi-Light';
        line-height: 80%;
        max-width:90%;
        max-height: 100;
    
    }

    .back {
        background:#dcf8ff;
        /* flip it default   */
        transform: rotateY(180deg);
        border-radius: 5% 5% 5% 5%;
        filter: drop-shadow(0rem .25rem 0rem #0D56D9);
    }
    
    /* flip card
      * toggle with JS
      */
    .flipped {
        transform: rotateY(180deg);
    }
}



