@font-face {
    font-family: 'Outfit-Medium';
    src: url('../fonts/Outfit-Medium.woff2') format('woff2'),
         url('../fonts/Outfit-Medium.woff') format('woff'),
         url('../fonts/Outfit-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }

/* diagnostic styling */
* {
    outline: 1px dotted gray;
}

/* layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2{
    font-family: 'Outfit-Medium';
    color: #ECF7DD;
}
/* scene */
.scene {
    width: 300px;
    height: 400px;
    /* space between card-scenes */
    margin: 16px;

    /* set perspective   */
    perspective: 600px;
}

/* card */
.card {
    width: 100%;
    height: 100%;
    position: relative;

    cursor: grab;
    transition: transform 1s;

    /* preserve child 3d   */
    transform-style: preserve-3d;
}

/* face */
.face {
    position: absolute;
    height: 100%;
    width: 100%;

    /* hide back face   */
    backface-visibility: hidden;
}

img {
    display:flex;
    margin:auto;
    align-content: center;
    max-width: 90%;
    max-height: 90%;

}

.front {
    background: #5792CF;
}

.back {
    background: rgb(204, 209, 218);
    /* flip it default   */
    transform: rotateY(180deg);
}

/* flip card
  * toggle with JS
  */
.flipped {
    transform: rotateY(180deg);
}



/* Media Query for Mobile */
@media only screen and (max-width: 50em){ 
    
    /* Diagnostic Styling. Delete When Done. */
    body:before {
         background: yellow;
         content: "Mobile Size";
    }

    body {
        display: flex;
        flex-direction: column;
    }
    
}